.option {
  border-bottom: 1px solid lighten($light-blue, 10%);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: $l-size $m-size;
}

.option-text {
  word-break: break-all;
  margin-right: 10px;
}
